<h1>Positions</h1>

<%= button_to 'Update positions', update_wallet_positions_path, class: 'btn btn-primary float-end' %>
<button class="btn btn-primary btn-copy-table float-end">
  Copy to clipboard
</button>

<table id="table-positions" class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Holdings</th>
      <th>Portfolio %</th>
    </tr>
  </thead>
  <tbody>
    <% portfolio_size = @positions.sum { |e| e[:amount] * e[:price] } %>
    <% total = 0 %>
    <% @positions.each do |pos| %>
      <% total += pos[:value] %>
      <tr class="font">
        <td><%= pos[:symbol] %></td>
        <td><%= pos[:amount] %></td>
        <td><%= pos[:price] %></td>
        <td><%= pos[:value] %></td>
        <td><%= (pos[:value] / portfolio_size * 100).round(2) %></td>
      </tr>
    <% end %>
    <tr class="fw-bold">
      <td colspan="2">Total</td>
      <td colspan="2"><%= number_with_delimiter(total.round(2)) %></td>
      <td>100%</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  function copyToClipboard(e) {
    var textToCopy = []

    var rows = document.getElementById("table-positions")
      .getElementsByTagName("tbody")[0]
      .getElementsByTagName("tr")

    for (var row of rows) {
      // Last row (totals) has colspan="2", we don't want to copy this row
      if (row.children[0].colSpan > 1) continue

      childrenToCopy = Array.from(row.children)
        .slice(0, 3)
        .map(function(e) { return e.innerText })
      textToCopy.push(childrenToCopy.join("\t"))
    }

    // Use the clipboard API with a custom data transfer object
    navigator.clipboard.writeText(textToCopy.join("\n"))
      .catch(function (err) {
        console.error('Unable to copy table to clipboard', err)
      })
  }

  var buttons = document.getElementsByClassName("btn-copy-table")
  for (button of buttons)
    button.onclick = copyToClipboard
</script>
