<h1>Positions</h1>

<%= button_to 'Update positions', update_wallet_positions_path, class: 'btn btn-primary float-end' %>
<button class="btn btn-primary btn-copy-table float-end" data-controller="positions" data-action="click->positions#copyToClipboard">
  Copy to clipboard
</button>

<table id="table-positions" class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Holdings</th>
      <th>Portfolio %</th>
    </tr>
  </thead>
  <tbody>
    <% portfolio_size = @positions.sum { |e| e[:amount] * e[:price] } %>
    <% total = 0 %>
    <% @positions.each do |pos| %>
      <% total += pos[:value] %>
      <tr class="font">
        <td><%= pos[:symbol] %></td>
        <td><%= pos[:amount] %></td>
        <td><%= pos[:price] %></td>
        <td><%= pos[:value] %></td>
        <td><%= (pos[:value] / portfolio_size * 100).round(2) %></td>
      </tr>
    <% end %>
    <tr class="fw-bold">
      <td colspan="2">Total</td>
      <td colspan="2"><%= number_with_delimiter(total.round(2)) %></td>
      <td>100%</td>
    </tr>
  </tbody>
</table>
