<h1>Positions</h1>

<%= button_to 'Update positions', update_wallet_positions_path, class: 'btn btn-primary float-end' %>
<button class="btn btn-primary btn-copy-table float-end">
  Copy to clipboard
</button>

<table id="table-positions" class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Holdings</th>
      <th>Portfolio %</th>
    </tr>
  </thead>
  <tbody>
    <% portfolio_size = @positions.sum { |e| e[:amount] * e[:price] } %>
    <% total = 0 %>
    <% @positions.each do |pos| %>
      <% total += pos[:value] %>
      <tr class="font">
        <td><%= pos[:symbol] %></td>
        <td><%= pos[:amount] %></td>
        <td><%= pos[:price] %></td>
        <td><%= pos[:value] %></td>
        <td><%= (pos[:value] / portfolio_size * 100).round(2) %></td>
      </tr>
    <% end %>
    <tr class="fw-bold">
      <td colspan="2">Total</td>
      <td colspan="2"><%= number_with_delimiter(total.round(2)) %></td>
      <td>100%</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
  function copyToClipboard(e) {
    var tableBody = document.createElement('tbody')
    var tableToCopy = document.createElement('table')
    tableToCopy.appendChild(tableBody)

    var rows = document.getElementById("table-positions")
      .getElementsByTagName("tbody")[0]
      .getElementsByTagName("tr")

    for (var row of rows) {
      if (row.children[0].colSpan > 1) continue
      var rowToCopy = document.createElement('tr')

      Array.from(row.children).slice(0, 3).forEach(function (cell) {
        var newCell = rowToCopy.insertCell()
        newCell.innerHTML = cell.innerHTML
      })

      tableBody.appendChild(rowToCopy)
    }

    // Create a new temporary div to hold the table
    var tempDiv = document.createElement('div')
    tempDiv.appendChild(tableToCopy.cloneNode(true))

    // Copy the HTML content of the temporary div to the clipboard
    navigator.clipboard.writeText(tempDiv.innerHTML)
      .then(function () {
        console.log('Table copied to clipboard successfully!')
      })
      .catch(function (err) {
        console.error('Unable to copy table to clipboard', err)
      })
  }

  var buttons = document.getElementsByClassName("btn-copy-table")
  for (button of buttons)
    button.onclick = copyToClipboard
</script>
