<h1>Positions</h1>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#createStakingFormModal">
    Add Staking Position
  </button>
</div>

<div id="alert_container" class="my-2"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Holdings</th>
      <th>Staking %</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |pos| %>
      <tr>
        <td><%= pos[:symbol] %></td>
        <td><%= pos[:amount] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <%= link_to 'Edit', 'javascript:;', data: { id: pos.id, amount: pos.amount, symbol: pos.symbol }, class: 'btn btn-secondary' %>
          <%= link_to 'Destroy', staked_positions_path(pos), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal" id="createStakingFormModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for Position.staking.new, url: staking_positions_path do |f| %>
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="create_staking_alert_container" class="my-2"></div>

          <div class="mb-3">
            <%= f.label :symbol, class: 'form-label' %>
            <%= f.text_field :symbol, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :amount, class: 'form-label' %>
            <%= f.number_field :amount, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
