<!DOCTYPE html>
<html>
  <head>
    <title>WalletStatus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="p-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 me-2 mb-lg-0 text-white text-decoration-none">
            <i class="bi bi-wallet2"></i>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>

          <div class="text-end">
            <% if signed_in? %>
              <%= link_to 'My Account', root_path, class: 'btn btn-sm btn-warning', method: :delete %>
              <%= button_to 'Logout', destroy_user_session_path, class: 'btn btn-sm btn-outline-light d-inline-block border-none me-2', form_class: 'form-btn', method: :delete %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-sm btn-outline-light border-none me-2', method: :delete %>
              <%= link_to 'Sign-up', new_user_registration_path, class: 'btn btn-sm btn-warning', method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <%= bootstrap_alert unless flash.empty? %>
      <%= yield %>
    </div>
  </body>
</html>
